<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>End Value</title>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>
<body>
<table class="table table-bordered">
    <tr class="table-striped">
        <th>Amount</th>
        <th>Buy</th>
        <th>Sell</th>
        <th>Spare</th>
        <th>From Currency</th>
        <th>To Currency</th>
        <th>Date from</th>
        <th>Date to</th>
    </tr>
    <th:block th:each="single: ${endValue}">
        <tr>
            <td th:text="${single.amount}"></td>
            <td th:text="${single.ratesBuy}"></td>
            <td th:text="${single.ratesSell}"></td>
            <td th:text="${single.spare}"></td>
            <td th:text="${single.currencyFrom}"></td>
            <td th:text="${single.currencyTo}"></td>
            <td th:text="${single.dateFrom}"></td>
            <td th:text="${single.dateTo}"></td>
        </tr>
    </th:block>
</table>
<a th:href="@{Calculation}" class="btn btn-primary">Back to calculation site</a>
<br>
<br>
<a th:href="@{AllRates}" class="btn btn-primary">To list of all rates</a>
<br>
<br>
<a th:href="@{all}" class="btn btn-primary">Back to list of previously calculated</a>
</body>
</html>